<% bookmarkSet = false %>

<h1><%= @feed.name %> (<span id="unreadCount"><%= unread_count @feed %></span> unread)</h1>
<% unless @feeditems.empty? %>
<ul id="feeditems" summary="Comic feed items">
  <% @feeditems.each do |f| 
       if ((@feed.bookmarkDate >= f.pubDate)&& !bookmarkSet) %>
       <%= render 'feedbookmark' %>
  <% bookmarkSet = true
     end %>
  <%= render 'feeditem', :feeditem => f %>
  <% end %>
</ul>
<%= will_paginate @feeditems %>
<% end %>
